{% extends 'base.html' %}

{% block body %}

<nav>
    <ul class='center'>
        <li><a href='/home'>Home</a><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li><a href=''>Graph Page</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li><a href='/sign_out'>Sign Out</a></li>
    </ul>
</nav>

<header class='data_background_image'>
</header>

<main>

    <section class='data_page_title'>
        <h1 class='center'>Examine the Data</h1>
    </section>

    <section class='section_one'>
        <div class='data_area'>
            <h1>Data Here</h1>
        </div>
        <div class='pic_area'>
        </div>
        <div class='data_area'>
            <h1>Data Here</h1>
        </div>
    </section>

    <section class='section_one'>
        <div class='pic_area'>
        </div>
        <div class='data_area'>
            <h1>Data Here</h1>
        </div>
        <div class='pic_area'>
        </div>
    </section>

    <section class='section_one'>
        <div class='data_area'>
            <h1>Data Here</h1>
        </div>
        <div class='pic_area'>
        </div>
        <div class='data_area'>
            <h1>Data Here</h1>
        </div>
    </section>

</main>



{% endblock %}
