{% extends 'base.html' %}

{% block body %}

<nav>
    <ul class='center'>
        <li><a href='/home'>Home</a><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li><a href='/graph'>Graph Page</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li><a href='/sign_out'>Sign Out</a></li>
    </ul>
</nav>

<!-- Header Section -->
<header class='data_background_image'>
</header>

<!-- Main Section -->
<main>

    <section class='data_page_title'>
        <h1 class='center'>Examine the Data</h1>
    </section>

    <section class='section_one'>
        <div class='data_area'>
            <div class='data_results'>
                <h1>Search for UFO by state</h1>
            </div>
        </div>
        <div class='pic_area_one'>
        </div>
        <div class='data_area'>
            <div class='data_results'>
                <h1>Search for UFO by Shape</h1>
            </div>
        </div>
    </section>

    <section class='section_one'>
        <div class='pic_area_two'>
        </div>
        <div class='data_area'>
            <div class='data_results'>
                <h1>Search for UFO by Year</h1>
            </div>
        </div>
        <div class='pic_area_three'>
        </div>
    </section>

    <section class='section_one'>
        <div class='data_area'>
            <div class='data_results'>
                <h1>Search for UFO by State and Shape</h1>
            </div>
        </div>
        <div class='pic_area_four'>
        </div>
        <div class='data_area'>
            <div class='data_results'>
                <h1>Search for UFO by Color</h1>
            </div>
        </div>
    </section>

</main>

<!-- Footer Section -->
<footer>
    Copyright &copy; 2017 Mike Cuddy Productions
    <br/>
    <p>
        <a href="https://github.com/ravenusmc"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
        <a href="https://twitter.com/"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/mcuddy1/"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
    </p>
</footer>



{% endblock %}
