{% extends 'base.html' %}

{% block body %}

<nav>
    <ul class='center'>
        <li><a href='/home'>Home</a><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li><a href='/graph'>Graph Page</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li><a href='/sign_out'>Sign Out</a></li>
    </ul>
</nav>

<!-- Header Section -->
<header class='data_background_image'>
</header>

<!-- Main Section -->
<main>

    <section class='data_page_title'>
        <h1 class='center'>Examine the Data</h1>
        <h3 class='center'>1930-2001</h3>
    </section>

    <section class='section_one'>
        <div class='data_area'>
            <div class='data_results'>
                <h1>Search for UFO by state</h1>
                <h4 class='center'>Please use state abbreviation<h4>
                <p>Enter State:<input type="text" size="10" name='state_name'></p>
                <p>Result: <span id="state_results">?</span></p>
                <p><a href=# id="state">Calculate UFOs in given state</a></p>
            </div>
        </div>
        <div class='pic_area_one'>
        </div>
        <div class='data_area'>
            <div class='data_results shape_area'>
                <h1>Search for UFO by Shape</h1>
                <h4 class='center'>Please select a shape to look at</h4>
                <select size='1' name='shape' id='shape'>
                    <option value='Triangle'>Triangle</option>
                    <option name='Oval' value='Oval'>Oval</option>
                    <option value='Disk'>Disk</option>
                    <option value='Circle'>Circle</option>
                    <option value='Cigar'>Cigar</option>
                    <option value='Cylinder'>Cylinder</option>
                    <option value='Rectangle'>Rectangle</option>
                    <option value='Formation'>Formation</option>
                </select>
                <p>Result: <span id="shape_results">?</span></p>
                <p><a href=# id="shape">Calculate number of UFO's by shape</a></p>
            </div>
        </div>
    </section>

    <section class='section_one'>
        <div class='pic_area_two'>
        </div>
        <div class='data_area'>
            <div class='data_results'>
                <h1>Search for UFO by Year</h1>
            </div>
        </div>
        <div class='pic_area_three'>
        </div>
    </section>

    <section class='section_one'>
        <div class='data_area'>
            <div class='data_results'>
                <h1>Search for UFO by State and Shape</h1>
            </div>
        </div>
        <div class='pic_area_four'>
        </div>
        <div class='data_area'>
            <div class='data_results'>
                <h1>Search for UFO by Color</h1>
            </div>
        </div>
    </section>

</main>

<!-- Footer Section -->
<footer>
    Copyright &copy; 2017 Mike Cuddy Productions
    <br/>
    <p>
        <a href="https://github.com/ravenusmc"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
        <a href="https://twitter.com/"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/mcuddy1/"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
    </p>
</footer>



{% endblock %}
