{% extends 'base.html' %}

{% block body %}

<div class='main_image'>

    <header class='home_header'>
        <h1 class='center main_title'>Ufo study</h1>
        <h3 class='center main_sub_title'>I want to believe...</h3>
        <h6 class='center main_sub_sub_title'>...But sometimes we must come down to Earth</h6>
    </header>

    <footer class='footer_home'>
        <div class='footer_container'>
            <h1>Exam the Data</h1>
            <h3>The Truth is out there...</h3>
        </div>
    <footer>


</div>




{% endblock %}
