{% extends 'base.html' %}

{% block body %}

<div id="container"></div>

<script src="{{ url_for('static', filename='./bower_components/react/react.min.js') }}"></script>
<script src="{{ url_for('static', filename='./bower_components/react/JSXTransformer.js') }}"></script>

<script type="text/jsx">

var Main = React.createClass({
  render: function () {
    return (
      <div>
        <Background/>
      </div>
    );
  }
});

var Background = React.createClass({
    render: function() {
        return (
            <div className='sign_in_background'>
                <Loginspace/>
            </div>
        )
    }
})

var Loginspace = React.createClass({
    render: function() {
        return  (
          <div className='sign_up_form'>
              <h1 className='center'>Learn the Truth</h1>
              <form onsubmit='return validateForm();' method="POST">
                  <p>Username: <input name='username' type='text'/></p>
                  <p>Password: <input name='password' type='password'/></p>
                  <div className="input_area">
                      <input type='submit'/>
                      <button><a href='/sign_up'>Sign Up</a></button>
                  </div>
              </form>
          </div>

        )
    }
});



React.render(
  <Main/>,
  document.getElementById('container')
);

</script>


{% endblock %}
