/* Generic CSS */
.center {
    text-align: center;
}

.anchor_fix {
    text-decoration: none;
    color: white;
}

.anchor_fix:hover {
    color: yellow;
}

footer {
  text-align: center;
  padding-top: 10px;
  border-top: 3px solid #333;
}

/* CSS for login page */

.sectionOne {
    background-image: url(https://source.unsplash.com/mwhklqGVzck);
    height: 700px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.login_form {
    background: rgba(0, 0, 0, 0.7);
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
}

/* CSS for Sign in page */
.sign_in_background {
    background-image: url(https://source.unsplash.com/BeIvjuz6k2k);
    height: 670px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sign_up_form {
    background: rgba(0, 0, 0, 0.4);
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
}

/* CSS for Home Page */
.main_image {
    background-image: url(https://source.unsplash.com/UEgo43quyCw);
    height: 1500px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.home_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1500px;
    background-color: rgba(100, 255, 0, 0.4);
    color: white;
}

.home_header {
    align-self: flex-start;
    text-transform: uppercase;
}

.main_title {
    font-size: 65px;
    text-transform: uppercase;
}

.main_sub_title {
    text-transform: uppercase;
    font-size: 50px;
}

.main_sub_sub_title {
    text-transform: uppercase;
    font-size: 20px;
}

.footer_home {
    margin-top: 1000px;
    text-transform: uppercase;
}

/* CSS for data page */

nav {
    background-color: black;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

nav ul li {
    list-style-type: none;
    display: inline;
}

nav ul a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

nav ul a:hover {
    color: lightblue;
}

.data_background_image {
    margin-top: 10px;
    background-image: url(https://source.unsplash.com/rTZW4f02zY8);
    height: 650px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.data_page_title {
    text-transform: uppercase;
    font-size: 50px;
    border-bottom: 2px solid black;
}

.section_one {
    height: 500px;
    display: flex;
    flex-direction: row;
}

.data_area {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pic_area_one {
    background-image: url(https://source.unsplash.com/QYs58HmCz-s);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    flex: 4;
}

.pic_area_two {
    background-image: url(https://source.unsplash.com/173qEXh9eNI);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    flex: 4;
}

.pic_area_three {
    background-image: url(https://source.unsplash.com/NORa8-4ohA0);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    flex: 4;
}

.pic_area_four {
    background-image: url(https://source.unsplash.com/ShULt87xZZY);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    flex: 4;
}

.shape_area {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.data_result_state_shape {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* CSS for Graph Page */
.graph_page_header {
    margin-top: -100px;
}

.intro_section {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
}

.intro_section_desc {
    margin-right: 12px;
    flex: 4;
    text-align: justify;
}

.intro_pic_section {
    flex: 6;
    background-image: url(https://source.unsplash.com/_bT-oNYP5Wk);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.ngram_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.year_graph_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#us-map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* CSS for Media queries */
@media only all and (max-width: 768px){

    .main_title {
        font-size: 40px;
        text-transform: uppercase;
    }

    .main_sub_title {
        text-transform: uppercase;
        font-size: 30px;
    }

    /* CSS for Data Page */
    nav ul li {
        list-style-type: none;
        display: block;
    }

    .data_background_image {
        margin-top: 180px;
        background-image: url(https://source.unsplash.com/rTZW4f02zY8);
        height: 450px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .data_page_title {
        text-transform: uppercase;
        font-size: 30px;
        border-bottom: 2px solid black;
    }

    .section_one {
        height: 500px;
        display: flex;
        flex-direction: column;
    }

    .data_area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid black;
    }

    .pic_area_one {
        display: none;
    }

    .pic_area_two {
        display: none;
    }

    .pic_area_three {
        display: none;
    }

    .pic_area_four {
        display: none;
    }

    footer {
      text-align: center;
      margin-top: 130px;
      border-top: 3px solid white;
    }

    /* CSS for graph page */
    .intro_section {
        margin-top: 200px;
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
    }

}
