/* Generic CSS */

.center {
    text-align: center;
}

/* CSS for login page */

.sectionOne {
    display: flex;
    flex-direction: column;
    background-image: url(https://source.unsplash.com/mwhklqGVzck);
    height: 700px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.login_form {
    background: rgba(0, 0, 0, 0.7);
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
}
